@keyframes google {
    0% {
	    transform: scale(0, 0);
    }

    50% {
        transform: scale(1, 1);
    }

    100% {
        transform: translateX(100em);
    }
}

body {
    background-color: black;
}

.scene {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

#google-logo {
    /* position: absolute; */
    max-width: 100%;
    margin-top: 3in;
    animation: google 2s linear forwards;
    animation-play-state: paused;
}

#scroll-container {
    height: 400vh;
    position: relative;
}

.scanner {
    position: fixed;
    width: 2000px;
    height: 10px;
    background: green;
    -webkit-box-shadow:0 0 20px white; 
    -moz-box-shadow: 0 0 20px white; 
    box-shadow:0 0 20px white;
    opacity: 0.5;
    animation: scan 2s linear forwards;
}

@keyframes scan {
    from {
        transform: translateY(0vh);
    }

    to {
        transform: translateY(600svh);
    }
}