@keyframes google {
    0% {
	    transform: scale(0, 0);
    }

    10% {
        transform: scale(1, 1);
    }

    20% {
        transform: translateX(100em);
    }

    100% {
        transform: translateX(100em);
    }
}

body {
    block-size: 1000svh;
    display: flex;
    justify-content: center;
    background-color: black;
}

#google-logo {
    position: fixed;
    max-width: 100%;
    margin-top: 3in;
    animation: google 2s linear forwards;
    animation-play-state: paused;
}