@keyframes google {
    0% {
	    transform: scale(0, 0);
    }

    10% {
        transform: scale(1, 1);
    }

    20% {
        transform: translateX(100em);
    }

    100% {
        transform: translateX(100em);
    }
}

body {
    block-size: 1000svh;
    display: flex;
    justify-content: center;
    background-color: black;
}

#google-logo {
    position: fixed;
    max-width: 100%;
    margin-top: 3in;
    animation: google 2s linear forwards;
    animation-play-state: paused;
}

.scanner {
    position: fixed;
    width: 2000px;
    height: 10px;
    background: green;
    -webkit-box-shadow:0 0 20px white; 
    -moz-box-shadow: 0 0 20px white; 
    box-shadow:0 0 20px white;
    opacity: 0.5;
    animation: scan 2s linear forwards;
}

@keyframes scan {
    from {
        transform: translateY(0vh);
    }

    to {
        transform: translateY(600svh);
    }
}