body {
  margin: 0;
  height: 500vh; /* Long scroll to map 0–100% */
  background-color: black;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

/* Center container for animations */
.stage {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 400px;
  pointer-events: none;
}

#googleLogo {
  position: absolute;
  width: 300px;
  opacity: 1;
  transform: scale(0) translateX(0px);
  transition: none;
}

#gifFrame {
  position: absolute;
  width: 350px;
  opacity: 0;
  transform: translateY(-200px);
}

.page-shadow {
  position: fixed;
  left: 0;
  right: 0;
  height: 50px;
  pointer-events: none;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.25s ease;
}

/* top fade */
.page-shadow.top {
  top: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), transparent);
}

/* bottom fade */
.page-shadow.bottom {
  bottom: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.4), transparent);
}

.scanner {
    position: fixed;
    width: 2000px;
    height: 10px;
    background: green;
    -webkit-box-shadow:0 0 20px white; 
    -moz-box-shadow: 0 0 20px white; 
    box-shadow:0 0 20px white;
    opacity: 0.5;
    animation: scan 2s linear forwards;
}

@keyframes scan {
    from {
        transform: translateY(0vh);
    }

    to {
        transform: translateY(600svh);
    }
}